    <div class="footer">
        <p>Made with &#10084;&#65039; By <span onmouseenter={openPopup1} onclick={closePopup1}><a href="#">Mongalmoy Karmakar</a></span> & <span onmouseenter={openPopup2} onclick={closePopup2}><a href="#">Souvik Sarkhel</a></span></p>
    </div>
</div>
</body>
</html>