

<!-- Mongalmoy Profile -->

<div class="owner-profile" id="mongalmoyProfile">

  <i onclick="closePopup1()" class="bx bx-x"></i>

  <div class="profile-img">
      <img src="images/mongalmoy_img.jpg" ></img>
  </div>
  <div class="profile-details">
    <h1>Mongalmoy Karmakar</h1>
    <h3 class="batch-year">JGEC ME'22</h3>
    <h3>mongalmoykarmakar.bwn@gmail.com</h3>
    <h3>+91-9064914585</h3>
  </div>
  <div class="social-media-details">
    <ul>
      <li><a href="https://www.linkedin.com/in/mongalmoy-karmakar-20595a205/" target="_blank"><i class='bx bxl-linkedin-square'></i></a></li>
      <li><a href="https://github.com/mongalmoy" target="_blank"><i class='bx bxl-github'></i></a></li>
      <li><a href="https://www.instagram.com/iam_mongalmoy/" target="_blank"><i class='bx bxl-instagram' ></i></a></li>
    </ul>
  </div>
</div>


<!-- Souvik Profile -->
<div class="owner-profile" id="souvikProfile">

  <i onclick="closePopup2()" class="bx bx-x"></i>

  <div class="profile-img">
      <img src="images/souviksarkhel_img.jpg" ></img>
  </div>
  <div class="profile-details">
    <h1>Souvik Sarkhel</h1>
    <h3 class="batch-year">JGEC ME'22</h3>
    <h3>souviksarkhel.kgp@gmail.com</h3>
    <h3>+91-9932059045</h3>
  </div>
  <div class="social-media-details">
    <ul>
      <li><a href="https://www.linkedin.com/in/souviksarkhel/" target="_blank"><i class='bx bxl-linkedin-square'></i></a></li>
      <li><a href="https://github.com/souviksarkhel621" target="_blank"><i class='bx bxl-github'></i></a></li>
      <li><a href="https://www.instagram.com/the_hellslyte_/" target="_blank"><i class='bx bxl-instagram' ></i></a></li>
    </ul>
  </div>
</div>




    <div class="footer" id="footer">
        <p>Made with &#10084;&#65039; By <span class="span-1" onclick="openPopup1()" onmousemove="closePopup2()" >Mongalmoy Karmakar</span> & <span class="span-2"  onclick="openPopup2()" onmousemove="closePopup1()">Souvik Sarkhel</span></p>
    </div>
</div>

<script>

    function openPopup1() {
      document.getElementById('mongalmoyProfile').style.display = "block";
    }

    function closePopup1() {
      document.getElementById('mongalmoyProfile').style.display = "none";
    }

    function openPopup2() {
      document.getElementById('souvikProfile').style.display = "block";
    }

    function closePopup2() {
      document.getElementById('souvikProfile').style.display = "none";
    }

    function closePopup() {
      document.getElementById('mongalmoyProfile').style.display = "none";
      document.getElementById('souvikProfile').style.display = "none";
    }

    function openForm(){
      document.getElementById('openStartDiv').style.opacity = 0.2;
      document.getElementById('sendFormDiv').style.display = "block";
      document.getElementById('chatbox').style.opacity = 0.2;
    }

    function closeForm() {
      document.getElementById('openStartDiv').style.opacity = 1;
      document.getElementById('sendFormDiv').style.display = "none";
      document.getElementById('chatbox').style.opacity = 1;
    }

    function handleChange(){
      const inputText = document.getElementById('posttextarea').value;

      if(inputText== ""){
        document.getElementById('sendButton').style.color = '#929292';
      } else {
        document.getElementById('sendButton').style.color = '#0734fd';
      }
    }


    function handleClickOnLike(event) {
      // document.querySelectorAll(".add-like").style.fontSize = "20px";
      let feedElements = document.querySelectorAll(".feed");
      console.log(event.path[2]);
      console.log(event.path[3]);
      feedElements.forEach(function(element) {
        if(element===event.path[2] || element===event.path[3]) {
          console.log(element.style.height);
          // if(element.style.height === "18px") {
          //   element.style.height = "19px";
          //   element.classList.add("liked");
          // } else {
          //   element.style.height = "19px";
          //   element.classList.remove("liked");
          // }
        }
      })
    }


    function displayCommentSection(event) {
      let feedElements = document.querySelectorAll(".feed");
      feedElements.forEach( function(element) {
        if(element===event.path[2] || element===event.path[3]) {
          console.log(element.style.height);
          if(element.style.height === "230px") {
            element.style.height = "175px";
            element.classList.remove("active");
          } else {
            element.style.height = "230px";
            element.classList.add("active");
          }
        }
      });

    }


    function dispalyAttachIcons() {
      let element = document.getElementById("attachIcons");

      if(element.style.display === "none") {
        element.style.display = "block";
      } else {
        element.style.display = "none";
      }
    }

    function handleCaptureButton() {
      document.getElementById('capture').style.display = "block";
    }

    function handleAttachImage() {
      document.querySelectorAll('.input-file')[0].click();
    }

    function handleAttachDocument() {
      document.querySelectorAll('.input-file')[1].click();
    }

    function handleAttachAudio() {
      document.querySelectorAll('.input-file')[2].click();
    }


    const cameraButton = document.getElementById('start-camera');
    const video = document.getElementById('video');
    const capture = document.getElementById('capture');
    const canvas = document.getElementById('canvas');

    cameraButton.addEventListener('click', async function() {
        try {
          const videoSrc = await navigator.mediaDevices.getUserMedia( {video: {width: 380, height: 280}} );
          video.srcObject = videoSrc;
        }
        catch(e) {
          console.log(e.toString());
        }

        const context = canvas.getContext('2d');
        capture.addEventListener('click', function() {
          context.drawImage(video, 0, 0, 380, 280);
          // console.log('hii');
          // const imgUrlData = canvas.toDataUrl(images/jpeg);

          // console.log(imgUrlData);
        });

    });


</script>

</body>
</html>