    <div className="footer">
        <p>Made with &#10084;&#65039; By <span onMouseEnter={openPopup1} onClick={closePopup1}><a href="#">Mongalmoy Karmakar</a></span> & <span onMouseEnter={openPopup2} onClick={closePopup2}><a href="#">Souvik Sarkhel</a></span></p>
    </div>
</div>
</body>
</html>