<%- include('partials/header'); -%>

<div class="account-page-outer">
    <div class="account-page-inner">

        <div class="home-link">
            <p> <a href="/feed">Home </a> >> <span>Mongalmoy Karmakar</span> </p>
        </div>
        
        <div class="user-profile">
            <div class="user-name-img">
                <img src="/images/mongalmoy_img.jpg" alt="_image">
                <p>Mongalmoy Karmakar</p>
                <!-- <div class="user-img"> 
                    <img src="/images/mongalmoy_img.jpg" alt="_image">
                </div>

                <div class="user-name"> 
                    Mongalmoy Karmakar
                </div> -->
            </div>
    
            <hr class="main-hr">
    
            <div class="user-profile-details">
                <p> <span>Username:</span> </p>
                <hr class="p-br">

                <p> <span>Country:</span> </p>
                <hr class="p-br">

                <p> <span>State:</span> </p>
                <hr class="p-br">

                <p> <span>City:</span> </p>
                <hr class="p-br">

                <p> <span>Student/Profession:</span> </p>
                <hr class="p-br">

                <p> <span>Current Position:</span> </p>
                <hr class="p-br">

                <p> <span>Batch:</span> </p>
                <hr class="p-br">
            </div>
        </div>

    </div>
</div>

<%- include('partials/footer'); -%>