<%=user.name%><%- include('partials/header',{myname:user.name}); -%>

<div class="account-page">
    <div class="account-page-heading-list">
        <div>
            <ul>
                <li>
                    <a href="#account-page-personal-section" class="edit-links active" aria-selected="true" tabindex="0" onclick="manageEditLinks(event)">Personal</a>
                </li>
                <li>
                    <a href="#social-page-personal-section" class="edit-links" aria-selected="false" tabindex="-1" onclick="manageEditLinks(event)">Social</a>
                </li>
                <li>
                    <a href="#communication-page-personal-section" class="edit-links" aria-selected="false" tabindex="-1" onclick="manageEditLinks(event)">Communication</a>
                </li>
                <li>
                    <a href="#login-page-personal-section" class="edit-links" aria-selected="false" tabindex="-1" onclick="manageEditLinks(event)">Login</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="account-page-edit-section">
        <div class="account-page-edit-container">

            <form action="/editaccount" method="post">

                <div id="account-page-personal-section">
                    <div>
                        <h6>Upload profile picture of yourself</h6>
                        <p>Upload files of type jpeg, jpg, png only. Max size : 1MB.</p>
                        <input type="file">
                    </div>
                    <div>
                        <p>Your Name:</p>
                        <input type="text" id="inputName" placeholder="Enter your name">
                    </div>
                    <div>
                        <p>Your DOB:</p>
                        <input type="date">
                    </div>
                    <div>
                        <p>Gender:</p>
                        <input type="radio" id="male">
                        <label for="male">Male</label>
                        <input type="radio" id="female">
                        <label for="female">Female</label>
                        <input type="radio" id="other">
                        <label for="other">Other</label>
                    </div>
                </div>
    
                <div id="social-page-personal-section">
                    <div>
                        <p>Linkedin:</p>
                        <input type="text">
                    </div>
                    <div>
                        <p>Github:</p>
                        <input type="text">
                    </div>
                    <div>
                        <p>Facebook:</p>
                        <input type="text">
                    </div>
                    <div>
                        <p>Instagram:</p>
                        <input type="text">
                    </div>
                    <div>
                        <p>Your Website or Blog:</p>
                        <input type="text">
                    </div>
                </div>
    
                <div id="communication-page-personal-section">
                    <div>
                        <p>Email Address:</p>
                        <input type="email">
                    </div>
                    <div>
                        <p>Optional Email Address:</p>
                        <input type="email">
                    </div>
                    <div>
                        <p>Current City:</p>
                        <input type="text">
                    </div>
                    <div>
                        <p>Country:</p>
                        <input type="text">
                    </div>
                    <div>
                        <p>Address</p>
                        <textarea name="inputAddress" id="userAddress" cols="30" rows="2"></textarea>
                    </div>
                    <div>
                        <p>Pincode:</p>
                        <input type="number">
                    </div>
                    <div>
                        <p>Contact Number:</p>
                        <input type="number">
                    </div>
                </div>
    
                <div id="login-page-personal-section">
                    <div>
                        <p>Current password:</p>
                        <input type="number">
                    </div>
                    <div>
                        <p>New password:</p>
                        <input type="number">
                    </div>
                    <div>
                        <p>Confirm new password:</p>
                        <input type="number">
                    </div>
                </div>

                <div>
                    <button class="save-button">Save</button>
                    <button class="delete-button">Delete</button>
                </div>
    
            </form>

        </div>
    </div>

</div>


<%- include('partials/footer') -%>