
<%- include('partials/header'); -%>

<div class="owner-profile" id="mongalmoy-profile">
    <div class="profile-img">
        <img src="images/mongalmoy_img.jpg" ></img>
    </div>
    <div class="profile-details">
      <h1>Mongalmoy Karmakar</h1>
      <h3 class="batch-year">JGEC ME'22</h3>
      <h3>mongalmoykarmakar@gmail.com</h3>
      <h3>+91-9064914585</h3>
    </div>
    <div class="social-media-details">
      <ul>
        <li><a href="https://www.linkedin.com/in/mongalmoy-karmakar-20595a205/" target="_blank"><i class='bx bxl-linkedin-square'></i></a></li>
        <li><a href="https://github.com/mongalmoy" target="_blank"><i class='bx bxl-github'></i></a></li>
        <li><a href="https://www.instagram.com/iam_mongalmoy/" target="_blank"><i class='bx bxl-instagram' ></i></a></li>
      </ul>
    </div>
</div>

<%- include('partials/footer'); -%>