
<%- include('partials/header'); -%>

<div class="owner-profile" id="souvik-profile">
    <div class="profile-img">
        <img src="images/souviksarkhel_img.jpg" ></img>
    </div>
    <div class="profile-details">
      <h1>Souvik Sarkhel</h1>
      <h3 class="batch-year">JGEC ME'22</h3>
      <h3>souviksarkhel.kgp@gmail.com</h3>
      <h3>+91-9932059045</h3>
    </div>
    <div class="social-media-details">
      <ul>
        <li><a href="https://www.linkedin.com/in/souviksarkhel/" target="_blank"><i class='bx bxl-linkedin-square'></i></a></li>
        <li><a href="https://github.com/souviksarkhel621" target="_blank"><i class='bx bxl-github'></i></a></li>
        <li><a href="https://www.instagram.com/the_hellslyte_/" target="_blank"><i class='bx bxl-instagram' ></i></a></li>
      </ul>
    </div>
</div>

<%- include('partials/footer'); -%>