* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#body {
    background: #E0E0E0;
    height: 100vh;
    z-index: 0;
}

#body nav {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0 1px 5px #858585;
}

.container-fluid .navbar-brand {
    width: 100%;
    font-size: 35px;
    width: 200px;
}

.container-fluid img {
    height: 50px;
    margin-left: 20px;
    padding-right: 10px;
    border-radius: 50%;
    border: none;
    outline: none;
}

#navbarNav {
    font-size: 25px;
    width: 100%;
    position: relative;
}

#navbarNav ul {
    position: absolute;
    right: 10px;
}

#navbarNav ul li {
    display: flex;
    justify-content: center;
}


#navbarNav ul .nav-link-img {
    padding: 0;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbarNav ul .nav-link-img div {
    height: 50px;
    width: 50px;
}

#navbarNav ul .nav-link-img div img {
    padding: 0;
    margin: 0;
    border-radius: 50%;
    height: 45px;
    width: 50px;
    object-fit: cover;
}

#userName{
    font-size: 18px;
    font-weight: 700;
    margin-top: 12px;
}

#navbarNav ul li a i {
    font-size: 24px;
    font-weight: 700px;
    color: #202020;
    opacity: 0.8;
}

#navbarNav ul li a:hover i {
    opacity: 0.9;
}

#navlinkDropdown {
    width: 100px;
}

.envelop-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}


/***************** Enter Page Starts ******************/
.enter-page img {
    width: 100%;
    height: 100vh;
    position: relative;
    opacity: 0.9;
}

.enter-page .welcome-to-jolubook {
    position: absolute;
    left: 50%;
    bottom: 350px;
    color: #fff;
    transform:translateX(-50%);
    color: #fff;
}

.enter-page .welcome-to-jolubook h1 {
    font-weight: 900;
    font-size: 50px;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.enter-page .buttons {
    position: absolute;
    left: 50%;
    bottom: 250px;
    transform:translateX(-50%);
}

.enter-page .buttons button {
    outline: none;
    border: none;
    background-color: #2e2e2e;
    color: #fff;
    padding: 5px 20px;
    margin-right: 50px;
    width: 150px;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

.enter-page .buttons button:hover {
    color: aqua;
}

.enter-page .developer-names {
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}

.enter-page .developer-names span:hover {
    color: aquamarine;
}
/***************** Enter page Ends *******************/



/******************* Register Page Begins ************************/

.register-page {
    background-image: linear-gradient(to right, rgb(7, 161, 189) , rgb(28, 29, 124));
    z-index: 0;
}

.register-page .row {
    width: 100%;
    height: 100vh;
    color: #fff;
}

.register-page .row .col-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row .col-6 .left-div .logo {
    padding: 20px;
    margin: 0 20px;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row .col-6 .left-div .logo img {
    border-radius: 50%;
    height: 150px;
}

.row .col-6 .left-div .name {
    padding: 0 20px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row .col-6 .left-div .name p {
    margin: 10px;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
}

.row .col-6 .left-div .welcome {
    padding: 0 20px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row .col-6 .left-div .welcome p {
    font-size: 35px;
    padding: 10px;
    font-weight: 800px;
}

.row .col-6 .left-div .about-us {
    padding: 0 20px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row .col-6 .left-div .about-us a {
    background-color: #fff;
    color: #3d3939;
    text-decoration: none;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 2px;
    outline: none;
    border-radius: 20px;
    transition: all ease 0.5s;
}

.row .col-6 .left-div .about-us a:hover {
    width: 160px;
}

.row .col-6 .right-div {
    width: 650px;
    height: 500px;
    background-color: #fff;
    border-radius: 5px;
}

.row .col-6 .right-div .form-div {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.form-div form .register-form .heading-div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 40px;
    color: black;
}

.form-div form .register-form .heading-div h1 {
    font-weight: 800;
}

.form-div form .register-form .input-name {
    margin-bottom: 10px;
}

.form-div form .register-form .input-name input {
    outline: none;
    width: 450px;
    height: 35px;
    color: #041C32;
    padding-left: 5px;
}

.form-div form .register-form .input-year select {
    color: #5c6063;
    outline: none;
    width: 150px;
    height: 35px;
    padding-left: 5px;
    margin-bottom: 15px;
}

.form-div form .register-form .input-year .input-department {
    color: #5c6063;
    outline: none;
    width: 290px;
    height: 35px;
    padding-left: 5px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.form-div form .register-form .current-position input {
    outline: none;
    width: 450px;
    height: 35px;
    color: #041C32;
    padding-left: 5px;
    margin-bottom: 15px;
}

.form-div form .register-form .input-email input {
    outline: none;
    width: 450px;
    height: 35px;
    color: #041C32;
    padding-left: 5px;
    margin-bottom: 15px;
}

.form-div form .register-form .input-password input {
    outline: none;
    width: 450px;
    height: 35px;
    color: #041C32;
    padding-left: 5px;
    margin-bottom: 15px;
}

.form-div form .register-form .register-button {
    height: 100px;
    position: relative;
}

.form-div form .register-form .register-button button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    outline: none;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #475455;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
}

.right-div .convert-div p {
    color: #5c6063;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}

.right-div .convert-div p span a {
    text-decoration: none;
}

/******************* Register Page Ends *************************/



/**************** Chatbox Starts ************************/
#root {
    z-index: 0;
    background-color: #E0E0E0;
    position: absolute;
    left: 0;
    top: 65px;
    width: 100%;
    padding-bottom: 68px;
}

.chatbox {
    display: flex;
    justify-content: center;
    margin-top: 6px;
    position: relative;
}

.chatbox .feed {
    width: 600px;
    background-color: #fff;
    color: #494747;
    padding: 10px 0;
    padding-bottom: 4px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

.chatbox .feed.active {
    height: 230px;
}

.chatbox .feed .user-profile-container {
    position: relative;
    height: 75px;
    margin: 0 12px;
}

.chatbox .feed .user-profile-container .user-img {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
}

.chatbox .feed .user-profile-container .user-img img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.chatbox .feed .user-info {
    margin: 0;
    padding: 0;
    height: 80px;
    position: absolute;
    left: 80px;
    top: 0;
}
/* 99A799 */
.chatbox .feed .user-info p {
    margin: 0;
    padding: 0;
}

.chatbox .feed .user-name {
    color: black;
    font-weight: 400;
}

.chatbox .feed .user-info .user-bio {
    color: #99A799;
    font-size: 12px;
}

.chatbox .feed .user-profile-container .post-time-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 20px;
    position: absolute;
    right: 0;
    bottom: 10px;
    font-size: 12px;
}

.chatbox .feed .user-profile-container .post-time-div i {
    color: #99A799;
    font-size: 12px;
    display: inline;
}

.chatbox .feed .user-profile-container .post-time-div  p {
    color: #99A799;
    font-size: 12px;
    display: inline;
    margin: 0;
    padding: 0;
    margin-left: 3px;
    padding-left: 1px;
}

.chatbox .feed .user-profile-container .three-dots {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.user-profile-container .three-dots:hover {
    background-color: #ddd;
}

.user-profile-container .three-dots i {
    font-size: 25px;
    cursor: pointer;
}

#root .chatbox .feed .user-chatbox {
    padding: 5px;
    margin: 0 12px;
    margin-bottom: 8px;
}

#root .chatbox .feed .user-chatbox p {
    margin: 0;
    padding: 0;
}

#root .chatbox .feed .user-chatbox-audio-container {
    margin: 0 12px;
    margin-bottom: 8px;
}

.user-chatbox-audio-container audio {
    width: 100%;
    height: 50px;
}

.user-chatbox-image-container {
    margin: 0;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}

.user-chatbox-image-container img {
    object-fit: cover;
    outline: none;
    max-width: 100%;
    max-height: 400px;
}

#root .chatbox .feed .user-chatbox-video-container {
    margin: 0;
    margin-bottom: 8px;
}

.user-chatbox-video-container video {
    width: 100%;
    height: 300px;
    object-fit: fill;
    outline: none;
    border: none;
}

#root .chatbox .feed .comment-like-share {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
}

#root .chatbox .feed .comment-like-share .bxs-like {
    height: 18px;
    color: #494747;
}

#root .chatbox .feed.liked .comment-like-share .bxs-like {
    transition: all 0.1s ease;
    font-size: 19px;
    color: #3333f3;
}

#root .chatbox .feed .comment-like-share form {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 18px;
    transition-delay: 0.1s;
    cursor: pointer;
    border-radius: 5px;
}

#root .chatbox .feed .comment-like-share form:hover {
    background-color: #ddd;
}

#root .chatbox .feed .comment-like-share form i {
    color: #2e2e2e;
    font-size: 18px;
}

#root .chatbox .feed .comment-like-share form span {
    margin-left: 5px;
    font-size: 14px;
}

#root .chatbox .feed .start-comment {
    display: flex;
    padding: 10px 5px;
    padding-top: 0;
    visibility: hidden;
    height: 0;
}

#root .chatbox .feed.active .start-comment {
    visibility: visible;
}

#root .chatbox .feed .start-comment .container-img {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root .chatbox .feed .start-comment .container-img img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

#root .chatbox .feed .start-comment .input-comment {
    height: 50px;
    width: calc(100% - 50px);
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#root .chatbox .feed .start-comment .input-comment input {
    width: 100%;
    height: 40px;
    border: 2px solid #ddd;
    border-radius: 20px;
    outline: none;
    padding: 5px 15px;
    color: #2c2c2c;
}

.start-comment .input-comment .comment-img-emoji {
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.comment-img-emoji div {
    margin: 5px 6px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
}

.three-dots .outer-display-edit-div {
    z-index: 100;
    position: absolute;
    right: 5px;
    top: 35px;
    width: 250px;
    background-color: #e7e7e7;
    padding: 5px 0;
    border-radius: 5px;
    display: none;
}

.three-dots.active .outer-display-edit-div {
    display: block;
}

#root .chatbox .feed .outer-display-edit-div .item {
    display: flex;
    height: 50px;
    width: 100%;
    cursor: pointer;
}

#root .chatbox .feed .outer-display-edit-div .item:hover {
    background-color: #b8b8b8;
}

.outer-display-edit-div .item-icon {
    width: 40px;
    height: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-display-edit-div .item .item-icon i {
    font-size: 18px;
}

.outer-display-edit-div .item .item-contents {
    height: 50px;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
}

.outer-display-edit-div .item .item-contents p {
    padding: 0;
    margin: 0;
}

.outer-display-edit-div .item .item-contents p:nth-child(1) {
    font-size: 14px;
    font-weight: 500;
}

.outer-display-edit-div .item .item-contents p:nth-child(2) {
    font-size: 12px;
    font-weight: 400;
}
/**************** Chatbox Ends **************/




/**************** Start Post Box Starts ************/
.start-post-div{
    position: fixed;
    right: 20px;
    top: 70px;
    height: 100px;
    width: 410px;
    background-color: #fff;
    border-radius: 10px;
}

.start-post-div .post-body {
    height: 100px;
    width: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.start-post-div .post-body .start-post-img {
    height: 100px;
    width: 80px;
    padding: 5px;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-post-div .post-body .start-post-img img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.start-post-div .post-body .start-post-content {
    width: 330px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-post-div .post-body .start-post-content input {
    padding: 15px;
    height: 55px;
    width: 330px;
    outline: none;
    border: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #2e2e2e;
    border: 2px solid #ddd;
    background-color: #fff;
}

.start-post-div .post-body .start-post-content input:hover {
    background-color: #ddd;
    cursor: pointer;
}

.post-box-container {
    width: 600px;
    height: 400px;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 10px;
    display: none;
}

.post-box-container .post-heading {
    width: 100%;
    height: 60px;
    position: relative;
    padding-top: 5px;
    padding-left: 10px;
}

.post-box-container .post-heading p {
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #504b4b;
    padding-top: 5px;
}

.post-box-container .post-heading i {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 30px;
    border-right: 50%;
    cursor: pointer;
    color: #181717;
    opacity: 0.8;
}

.post-box-container .post-heading i:hover {
    opacity: 1;
}

.post-box-container hr {
    border: 0;
    border-bottom: 2px solid #706f6f;
    margin: 0;
    padding: 0;
}

.post-box-container .post-name-img {
    height: 50px;
    width: 100%;
    padding: 10px 5px;
}

.post-box-container .post-name-img img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 10px;
    object-fit: cover;
}

.post-box-container .post-name-img .post-name {
    display: inline;
    font-size: 13px;
    font-weight: 600;
}

.post-box-container .post-box-body {
    padding: 6px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-box-container .post-box-body textarea {
    border: none;
    outline: none;
    color: #212224;
    width: 100%;
    height: 220px;
    margin: 0 10px;
    box-sizing: border-box;
    resize: none;
    padding: 4px 6px;
    overflow-y: scroll;
}


/* .post-box-container .send-button {
    height: 20px;
    width: 100%;
}

.post-box-container .send-button button {
    visibility: hidden;
}

.post-box-container .send-button button i {
    visibility: visible;
    font-size: 35px;
    color: #929292;
    position: absolute;
    right: 25px;
    bottom: 12px;
} */

.post-box-container .send-button input {
    visibility: visible;
}



.post-box-container .attach {
    position: absolute;
    right: 15px;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.attach-button-container, .open-emoji-div {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 5px;
    position: relative;
}

.attach-button-container i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.open-emoji-div:hover {
    background-color: #ddd;
}

.emoji-icon-container {
    padding: 0;
    position: absolute;
    bottom: 50px;
    left: 15px;
    padding: 2px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 6px #8f8f8f;
    overflow-y: scroll;
    height: 240px;
    display: none;
}

.emoji-icon-container h3 {
    font-size: 13px;
    font-weight: normal;
    font-family: inherit;
    color: #647274;
    margin: 0 5px;
    padding: 5px 0;
}

.emoji-icon-row {
    padding: 0;
    display: flex;
}

.emoji-icon-row .emoji-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 32px;
    height: 32px;
    cursor: pointer;
    font-size: 20px;
    margin: 2px;
}

.emoji-icon-row .emoji-icon:hover {
    background-color: #ececec;
}

.attach-button-container .fa-paperclip {
    font-size: 20px;
    color: #929292;
    transform: rotate(180deg);
}

.bxs-smile {
    font-size: 24px;
    color: #929292;
}

.attach-send-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.attach-send-button button {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.attach-send-button button i {
    visibility: visible;
    font-size: 30px;
    color: #929292;
}

#attachIcons {
    position: absolute;
    width: 60px;
    bottom: 40px;
    display: none;
}

#attachIcons ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#attachIcons ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    position: relative;
}

#attachIcons ul li div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 0;
}

#attachIcons ul li div i {
    font-size: 16px;
    position: absolute;
    z-index: 0;
}

#attachIcons ul li div input {
    position: absolute;
    z-index: 99;
    width: 30px;
    height: 30px;
    visibility: hidden;
}

#attachIcons ul li div:hover {
    background-color: #ddd;
}

#attachIcons ul li .tooltip {
    position: absolute;
    left: 55px;
    top: 0;
    opacity: 0;
    text-align: center;
    background-color: #838383;
    padding: 1px 10px;
    color: #fff;
    font-weight: 400;
    border-radius: 15px;
    padding-bottom: 2px;
    transform: translateY(-50%);
    transition: 0s;
    pointer-events: none;
}

#attachIcons ul li:hover .tooltip {
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

#capture {
    position: absolute;
    left: 0;
    bottom: 0;
    outline: none;
    display: none;
    z-index: 1000;
}

#video {
    position: absolute;
    left: 0;
    top: 0;
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
}
/**************** Start Post Box Ends **************/




/***************** User page starts ****************/
.user-page-outer {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    position: relative;
    width: 100%
}

.user-page-profile-cover {
    background-color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 99;
}

.user-page-cover {
    width: 1000px;
    height: 180px;
    position: relative;
}

.user-page-cover img {
    width: 1000px;
    height: 180px;
    object-fit: fill;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 98;
}

.user-page-cover .edit-cover {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 100;
    visibility: visible;
}

.user-page-cover .edit-cover span {
    background-color: #fff;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.user-page-cover .edit-cover span:hover {
    background-color: #ddd;
}

.cover-edit-popup {
    transition-delay: 0.4s;
    position: absolute;
    right: 20px;
    top: 50px;
    width: 200px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    padding-left: 5px;
    z-index: 100;
    background-color: #fff;
    display: none;
}

.cover-edit-popup .cover-upload, .cover-edit-popup .cover-delete {
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 5px;
    border-radius: 5px;
}

.cover-edit-popup .cover-upload:hover, .cover-edit-popup .cover-delete:hover {
    background-color: #f1f1f1;
}

.cover-edit-popup .cover-upload span {
    padding-left: 5px;
    font-size: 16px;
}

.cover-edit-popup .cover-delete span {
    padding-left: 5px;
    font-size: 16px;
}

#inputUserCoverPhoto {
    display: none;
}

.user-page-profile {
    width: 1000px;
    padding: 10px;
    height: 150px;
}

.user-page-img-container {
    border-radius: 50%;
    border: 8px solid #f0f0f0;
    position: absolute;
    left: 50px;
    top: 150px;
}

.user-page-img-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}


.user-page-profile .user-page-profile-name-details {
    height: 120px;
}

.user-page-profile-details {
    padding: 10px;
    padding-left: 230px;
}

.user-page-profile-details h1 {
    font-weight: 900;
    font-size: 36px;
    color: #000;
}

.user-page-profile-details h4 {
    font-size: 18px;
    color: #3b3b3b;
    font-weight: 600;
}

.user-page-profile-details p {
    font-size: 14px;
    font-weight: 500;
    color: #868686;
}

.user-page-bio {
    width: 1000px;
    background-color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.user-page-bio span {
    font-size: 16px;
    font-weight: 500;
}

.userpage-otherdetail-feed {
    position: relative;
    display: flex;
    justify-content: center;
    width: 1000px;
    margin-top: 15px;
}

.userpage-other-detail {
    width: 380px;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
    height: 400px;
}

.userpage__userdetails {
    padding: 0 10px;
    margin: 10px 0;
}

.userpage__userdetails i {
    font-size: 20px;
    margin-right: 4px;
}

.userpage__userdetails p {
    padding: 0;
    margin: 0;
    display: inline;
    font-size: 16px;
}

.userpage__userdetails p span {
    font-weight: 600;
}

.userpage-feed-container {
    width: 600px;
    position: relative;
}

.userpage-chatbox {
    display: flex;
    justify-content: center;
    width: 600px;
    position: relative;
}

.userpage-chatbox .userpage-feed {
    width: 600px;
    background-color: #fff;
    border-radius: 5px;
}

.userpage-feed-profile {
    display: flex;
    position: relative;
    height: 80px;
    width: 100%;
    padding: 10px;
    padding-bottom: 10px;
}

.userpage-feed-profile-img {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userpage-feed-profile-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none;
    object-fit: cover;
}

.userpage-feed-profile-name {
    height: 60px;
    width: calc(100% - 160px);
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.userpage-feed-profile-name p:nth-child(1) {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    color: rgb(29, 29, 29);
}

.userpage-feed-profile-name p:nth-child(2) {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    color: #868686;
}

.userpage-threedot-container {
    width: 100px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userpage-threedot {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    visibility: hidden;
}

.userpage-threedot i {
    visibility: visible;
    opacity: 0.8;
    font-size: 20px;
}

.userpage-threedot:hover {
    visibility: visible;
    opacity: 0.8;
}

.userpage-feed-content {
    width: 600px;
    padding: 0;
    margin: 0;
}

.userpage-feed-content-text {
    width: 100%;
    padding: 2px 15px;
}

.userpage-feed-content-text p {
    font-weight: 400;
    font-size: 16px;
    color: #252525
}

.userpage-feed-content-audio {
    padding: 2px 15px;
}

.userpage-feed-content-audio audio {
    width: 100%;
}

.userpage-feed-content-video {
    padding: 4px 0px;
}

.userpage-feed-content-video video {
    width: 100%;
    height: 400px;
    object-fit: fill;
    outline: none;
    border: none;
}
/***************** User page ends ******************/




/***************** Jolutree Page Starts *********************/
.jolutree-page {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.jolutree-row-container {
    width: 100%;
    margin: 30px 0;
    display: flex;
    align-items: center;
}

.jolutree-link-container {
    width: 100px;
    height: 50px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jolutree-link-container a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}
/******************* Jolutree Page Ends ********************/




/***************** Jolutree Year Page Starts *********************/
.jolutree-year-page {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.jolutree-btn-grp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jolutree-btn-grp__item {
    width: 120px;
    height: 50px;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    text-decoration: none;
    color: rebeccapurple;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jolutree-btn-grp__item:nth-child(1) {
    border-top-left-radius: 10px;
}

.jolutree-btn-grp__item:nth-child(7) {
    border-top-right-radius: 10px;
}

.jolutree-btn-grp__item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    transform: translateY(10px);
    background-color: rebeccapurple;
    opacity: 0;
    transition: all 0.5s ease;
}

.jolutree-btn-grp__item:hover::after {
    opacity: 1;
    transform: translateY(0px);
}

.jolutree-btn-grp__item:hover {
    color: rebeccapurple;
    text-transform: capitalize;
}

.jolutree-user-profiles {
    margin: 20px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, minmax(300px, 500px));
    width: 100vh;
}

.jolutree-user-profile-container {
    width: 250px;
    height: 280px;
    display: grid;
    background-color: #fff;
    border-radius: 10px;
    margin: 15px 20px;
}

.jolutree-user-profile-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
}

.jolutree-user-profile-img-border {
    border-radius: 50%;
    border: 5px solid #9265be;
}

.jolutree-user-profile-img-container img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.jolutree-user-profile-container-divider {
    margin: 0 110px;
    text-align: center;
    border: 0;
    border-bottom: 4px dotted rebeccapurple;
    background-color: #fff;
}

.jolutree-user-profile-other-details {
    padding: 10px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jolutree-user-profile-other-details div h6 {
    margin: 3px 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
}

.jolutree-user-profile-other-details div p {
    margin: 3px 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
}

.jolutree-user-profile-social-media {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jolutree-user-profile-social-media ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.jolutree-user-profile-social-media ul li {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.jolutree-user-profile-social-media ul li a {
    text-decoration: none;
    color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jolutree-user-profile-social-media ul li a i {
    font-size: 24px;
}
/***************** Jolutree Year Page Starts *********************/




/******************* Owner Profile Starts ******************/
#root .owner-profile {
    width: 380px;
    height: 450px;
    color: #fff;
    border-radius: 20px;
    box-shadow: 10px 15px 20px grey;
    z-index: 1;
    background-color: #202431;
    position: fixed;
}

#root .owner-profile .bx-x {
    position: absolute;
    color: #dddddd;
    font-size: 25px;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

#root .owner-profile .bx-x:hover {
    color: #fff;
}

#mongalmoyProfile {
    position: fixed;
    left: 565px;
    bottom: 75px;
    display: none;
}

#mongalmoyProfile::after {
    content: "";
    position: fixed;
    left: 730px;
    bottom: 25px;
    margin-left: -5px;
    border-width: 25px;
    border-style: solid;
    border-color: #202431 transparent transparent transparent;
}

#souvikProfile {
    position: fixed;
    left: 700px;
    bottom: 75px;
    display: none;
}

#souvikProfile::after {
    content: "";
    position: fixed;
    left: 870px;
    bottom: 25px;
    margin-left: -5px;
    border-width: 25px;
    border-style: solid;
    border-color: #202431 transparent transparent transparent;
}

#root .owner-profile .profile-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 5px;
    margin-top: 10px;
}

#root .owner-profile .profile-img img {
    border-radius: 50%;
    outline: none;
    height: 130px;
    object-fit: contain;
}

.owner-profile .profile-details {
    padding: 10px 0px;
    padding-top: 0;
}

.owner-profile .profile-details h1 {
    font-size: 28px;
    text-align: center;
    padding-top: 5px;
}

.owner-profile .profile-details .batch-year {
    font-size: 20px;
    padding-bottom: 5px;
}

.owner-profile .profile-details h3 {
    font-size: 15px;
    text-align: center;
}

.owner-profile .social-media-details {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 30px;
}

.owner-profile .social-media-details ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-media-details ul li a {
    text-decoration: none;
    cursor: pointer;
}

.social-media-details ul li i{
    font-size: 30px;
    margin: 0 25px;
}
/**************** Owner Profile Ends ******************/




/******************* Acoount edit Page Starts *****************/
.account-page {
    margin-top: 5px;
    margin-bottom: 15px;
    position: relative;
}

.account-page-heading-list {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 10;
    z-index: 100;
    position: fixed;
}

.account-page-heading-list div {
    width: 800px;
}

.account-page-heading-list ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.account-page-heading-list ul li a {
    position: relative;
    text-decoration: none;
    color: #000;
    padding: 5px 15px;
    background-color: #fff;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.account-page-heading-list ul li a.active::after {
    position: absolute;
    content: "";
    width: 200px;
    height: 5px;
    background-color: #3333f3;
    left: 0;
    bottom: -5px;
    opacity: 1;
    transition: all 0.5s ease-out;
}

.account-page-section {
    position: relative;
    width: 100vw;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.account-page-edit-section {
    position: absolute;
    top: 46px;
    width: 100vw;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    width: 4px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #15171d;
}

.account-page-edit-container {
    width: 800px;
    background-color: #fff;
    padding: 0 40px;
    height: 540px;
    overflow-y: scroll;
}

.account-page-edit-container div {
    padding: 15px 0;
}


.save-button {
    padding: 8px 24px;
    border: none;
    font-size: 14px;
    color: #fff;
    background-color: #3434cf;
    opacity: 0.8;
    width: 96px;
}

.save-button:hover {
    opacity: 1;
}

.delete-button {
    padding: 8px 24px;
    border: none;
    font-size: 14px;
    color: #fff;
    background-color: #e90000;
    opacity: 0.8;
    font-weight: 500;
    margin-left: 16px;
}

.delete-button:hover {
    opacity: 1;
    font-weight: 500;
}

.accountedit-hr {
    border: 0;
    margin: 20px 0;
    padding: 0;
    border-bottom: 2px dashed #ddd;
}

.accountedit-section div h6 {
    font-size: 15px;
    color: #4d4d4d;
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
    position: relative;
}

.accountedit-section .star {
    color: red;
    position: absolute;
    transform: translate(3px, 12px);
}

.accountedit-section div p {
    margin: 5px 0 0 0;
    padding: 0;
    font-size: 14px;
    color: #4a4a4a;
}

.accountedit-section div input {
    outline: none;
    padding: 2px 5px;
    width: 400px;
    color: #4d4d4d;
}

.accountedit-section textarea {
    outline: none;
    padding: 2px 5px;
    width: 400px;
    color: #4d4d4d;
    resize: none;
}

.gender-section {
    display: flex; 
    align-items: center;
    padding: 0;
}

.gender-section div {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 0; 
    margin-right: 10px;
}

.gender-section div .radio {
    width: 10px; 
    margin-right: 3px;
    height: 20px;
}

.gender-section div label {
    font-size: 16px;
}
/****************** Account edit page ends *************/




/**************** Account Page Starts *********************/
#accountpage .account-page-details {
    width: 100%;
    color: #000;
    padding: 0;
}

.accountpage-edit-link {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    position:absolute;
    right: 30px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accountpage-edit-link:hover {
    background-color: #ddd;
}

.accountpage-edit-link i {
    color: #929292;
}

#accountpage .account-section {
    padding: 0;
}

#accountpage .account-page-details {
    margin: 12px 0;
}

#accountpage .account-page-details-name {
    width: 180px;
    padding: 0;
    margin: 0;
}

#accountpage .account-page-details-name p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
}

#accountpage .account-page-details-value {
    width: calc(100% - 180px);
    padding: 0;
}

#accountpage .account-page-details-value span {
    font-size: 16px;
    font-weight: 500;
}

.accountpage-delete-button {
    color: #fff;
}

.accountpage-delete-button span {
    padding: 8px 16px;
    margin: 0;
    text-decoration: none;
    background-color: #e90000;
    opacity: 0.8;
    cursor: pointer;
}

.accountpage-delete-button span:hover {
    opacity: 1;
}

.delete-account-div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    z-index: 10;
    background-color: #302c2c;
    color: #fff;
    padding: 16px;
}

.delete-account-div h4 {
    text-align: center;
    margin: 10px 0;
    font-size: 26px;
}

.delete-account-div div {
    padding: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-account-div div a {
    padding: 8px 16px;
    background-color: #252525;
    margin: 0 15px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
}

.delete-account-div div a:nth-child(1) {
    background-color: #106826;
}

.delete-account-div div a:nth-child(2) {
    background-color: #e90000;
}

.delete-account-div div a:hover {
    opacity: 1;
}
/******************* Account Page Ends *******************/




/*********** Footer Starts **************/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #041C32;
    color: #fff;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    text-align: center;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.footer p span {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.footer p span:hover {
    color: rgb(62, 250, 250);
}
/***************** Footer Ends ****************/